$primary: #c7ae69;
$primary-transparent: #c7ae69d9;
$primary-light: #ddc07a;
$primary-lighter: "";
$primary-dark: #ac9863;
$primary-darker: "";

$secondary: "";
$secondary-light: "";
$secondary-lighter: "";
$secondary-dark: "";
$secondary-darker: "";

$dark: "";
$light: "";

$black: #000;
$white: #fff;
$white-transparent: #ffffffb0;

$grey: #575756;
$grey-light: "";
$grey-lighter: #f4f2f2;
$grey-dark: "";
$grey-darker: "";