@import url("https://fonts.googleapis.com/css?family=Montserrat|Titillium+Web:300,400,500,600,700&display=swap");
/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", "Montserrat", sans-serif; }

div,
article,
span,
p,
a,
button {
  font-family: "Titillium Web", "Montserrat", sans-serif; }

.bg-primary {
  background-color: #c7ae69; }

.bg-primary-light {
  background-color: ""; }

.bg-primary-lighter {
  background-color: ""; }

.bg-primary-dark {
  background-color: ""; }

.bg-primary-darker {
  background-color: ""; }

.bg-secondary {
  background-color: ""; }

.bg-secondary-light {
  background-color: ""; }

.bg-secondary-lighter {
  background-color: ""; }

.bg-secondary-dark {
  background-color: ""; }

.bg-secondary-darker {
  background-color: ""; }

.bg-dark {
  background-color: ""; }

.bg-light {
  background-color: ""; }

.bg-black {
  background-color: #000; }

.bg-white {
  background-color: #fff; }

.bg-grey {
  background-color: #575756; }

.bg-grey-light {
  background-color: ""; }

.bg-grey-lighter {
  background-color: ""; }

.bg-grey-dark {
  background-color: ""; }

.bg-grey-darker {
  background-color: ""; }

.color-primary {
  color: #c7ae69; }

.color-primary-light {
  color: ""; }

.color-primary-lighter {
  color: ""; }

.color-primary-dark {
  color: ""; }

.color-primary-darker {
  color: ""; }

.color-secondary {
  color: ""; }

.color-secondary-light {
  color: ""; }

.color-secondary-lighter {
  color: ""; }

.color-secondary-dark {
  color: ""; }

.color-secondary-darker {
  color: ""; }

.color-dark {
  color: ""; }

.color-light {
  color: ""; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.color-grey {
  color: #575756; }

.color-grey-light {
  color: ""; }

.color-grey-lighter {
  color: ""; }

.color-grey-dark {
  color: ""; }

.color-grey-darker {
  color: ""; }

.font-primary {
  font-family: "Titillium Web", "Montserrat", sans-serif; }

.font-secondary {
  font-family: "Montserrat", sans-serif; }

.text-bolder {
  font-weight: bolder; }

.text-normal {
  font-weight: 400; }

.text-bold {
  font-weight: 700; }

.text-light {
  font-weight: 300; }

.text-uppercase {
  text-transform: uppercase; }

.text-centered {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.pos-relative {
  position: relative; }

.block {
  display: block; }

.container {
  padding: 0 2rem; }

@media only screen and (min-width: 48rem) {
  .container {
    width: 750px;
    margin: 0 auto; } }

@media only screen and (min-width: 62rem) {
  .container {
    width: 960px;
    margin: 0 auto; } }

.hero, .hero--header, .hero--cta {
  display: block; }

.hero--header .hero__title {
  text-align: center; }

.nav--mobile {
  padding: 1rem 0;
  max-height: 80px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: #fff;
  transition: max-height .3s; }
  .nav--mobile .nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nav--mobile .nav__inner .nav__logo a {
      height: 50px;
      width: 90px;
      background-image: url(../img/logo.png);
      display: block;
      background-size: 100%;
      background-repeat: no-repeat; }
  .nav--mobile .nav__links {
    padding-top: 1rem; }
    .nav--mobile .nav__links li {
      padding: .5rem 0; }
      .nav--mobile .nav__links li a {
        font-family: "Titillium Web", "Montserrat", sans-serif;
        color: #000;
        text-decoration: none; }

.nav-toggler {
  background: transparent;
  border: 1px solid #c7ae69;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 37px;
  border-radius: 3px; }
  .nav-toggler .nav-toggler__bar {
    display: block;
    background: #c7ae69;
    width: 28px;
    height: 2px;
    border-radius: 5px; }

.nav.active {
  max-height: 500px;
  transition: max-height .3s; }

.nav--tablet-up {
  display: none; }

@media only screen and (min-width: 48rem) {
  .nav--mobile {
    display: none; }
  .nav--tablet-up {
    display: block;
    height: 120px; }
    .nav--tablet-up .nav__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 116px; }
      .nav--tablet-up .nav__inner .nav__logo a {
        height: 54px;
        width: 95px;
        background-image: url(../img/logo.png);
        display: block;
        background-size: cover;
        background-repeat: no-repeat; }
      .nav--tablet-up .nav__inner .nav__links {
        width: 580px;
        display: flex;
        justify-content: space-between; }
        .nav--tablet-up .nav__inner .nav__links li {
          padding: 0 6px;
          display: flex;
          align-items: center;
          position: relative; }
          .nav--tablet-up .nav__inner .nav__links li a {
            font-family: "Titillium Web", "Montserrat", sans-serif;
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            text-align: center; }
          .nav--tablet-up .nav__inner .nav__links li a:hover {
            color: #c7ae69;
            transition: color .2s; }
        .nav--tablet-up .nav__inner .nav__links li.active:after {
          content: '';
          width: 100%;
          height: 2px;
          background: #c7ae69;
          position: absolute;
          bottom: -4px; } }

@media only screen and (min-width: 62rem) {
  .nav--tablet-up .nav__inner .nav__logo a {
    height: 74px;
    width: 129px; }
  .nav--tablet-up .nav__inner .nav__links {
    width: 680px; }
    .nav--tablet-up .nav__inner .nav__links li {
      padding: 0; }
      .nav--tablet-up .nav__inner .nav__links li a {
        font-size: 13px; } }

.site-header {
  background-image: url("../img/site-header-background-overlay.png"), url("../img/site-header-background.png");
  background-size: cover, cover; }
  .site-header .site-header__inner .site-header__columns {
    display: flex;
    flex-direction: row; }
    .site-header .site-header__inner .site-header__columns .site-header__content {
      width: 240px;
      padding-top: 130px;
      padding-bottom: 30px;
      margin: 0 auto; }
      .site-header .site-header__inner .site-header__columns .site-header__content .site-header__title {
        margin-bottom: 20px; }
        .site-header .site-header__inner .site-header__columns .site-header__content .site-header__title h1 {
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 32px;
          line-height: 45px;
          width: 287px; }
      .site-header .site-header__inner .site-header__columns .site-header__content .site-header__subtitle {
        width: 287px; }
        .site-header .site-header__inner .site-header__columns .site-header__content .site-header__subtitle p {
          color: #fff;
          font-weight: 300;
          line-height: 23px;
          font-size: 16px; }
      .site-header .site-header__inner .site-header__columns .site-header__content .site-header__cta {
        padding: 35px 0; }
    .site-header .site-header__inner .site-header__columns .site-header__image {
      display: none; }

.slide-control {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 237px;
  align-items: center; }
  .slide-control .slide-control__steps {
    display: flex;
    justify-content: space-between;
    width: 35px;
    margin-right: 13px; }
    .slide-control .slide-control__steps span {
      font-size: 15px;
      color: #fff;
      font-weight: 300; }
  .slide-control .slide-control__loader {
    width: 164px; }
    .slide-control .slide-control__loader span {
      display: block;
      width: 96%;
      height: 1.5px;
      background: #c7ae69; }
  .slide-control .slide-control__right {
    display: flex;
    align-items: center; }
    .slide-control .slide-control__right span {
      background-image: url(../img/header-slide-arrow-right.png);
      display: inline-block;
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      background-size: contain; }

@media only screen and (min-width: 48rem) {
  .site-header .site-header__inner .site-header__columns .site-header__content {
    width: 50%;
    padding-top: 40px; }
  .site-header .site-header__inner .site-header__columns .site-header__image {
    display: block;
    width: 50%;
    background-image: url(../img/menino-com-bola.png);
    background-size: 266px;
    background-repeat: no-repeat;
    background-position: bottom; } }

@media only screen and (min-width: 62rem) {
  .site-header .site-header__inner .site-header__columns {
    display: flex;
    flex-direction: row; }
    .site-header .site-header__inner .site-header__columns .site-header__content {
      width: 55%;
      padding-top: 67px;
      padding-bottom: 0; }
      .site-header .site-header__inner .site-header__columns .site-header__content .site-header__title {
        margin-bottom: 20px; }
        .site-header .site-header__inner .site-header__columns .site-header__content .site-header__title h1 {
          font-size: 59px;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          line-height: 70px;
          width: unset; }
      .site-header .site-header__inner .site-header__columns .site-header__content .site-header__subtitle {
        width: unset; }
        .site-header .site-header__inner .site-header__columns .site-header__content .site-header__subtitle p {
          color: #fff;
          font-size: 19.4px;
          font-weight: 300;
          line-height: 23px; }
      .site-header .site-header__inner .site-header__columns .site-header__content .site-header__cta {
        padding: 35px 0; }
    .site-header .site-header__inner .site-header__columns .site-header__image {
      width: 45%;
      height: 467px;
      background-image: url(../img/menino-com-bola.png);
      background-size: 326px;
      background-repeat: no-repeat;
      background-position: 78px 21px; }
  .slide-control {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    width: 237px;
    align-items: center; }
    .slide-control .slide-control__steps {
      display: flex;
      justify-content: space-between;
      width: 35px;
      margin-right: 13px; }
      .slide-control .slide-control__steps span {
        font-size: 15px;
        color: #fff;
        font-weight: 300; }
    .slide-control .slide-control__loader {
      width: 164px; }
      .slide-control .slide-control__loader span {
        display: block;
        width: 96%;
        height: 1.5px;
        background: #c7ae69; }
    .slide-control .slide-control__right {
      display: flex;
      align-items: center; }
      .slide-control .slide-control__right span {
        background-image: url(../img/header-slide-arrow-right.png);
        display: inline-block;
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: contain; } }

.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .boxes .box {
    padding: 20px;
    width: 281px;
    border-radius: 5px;
    min-height: 219px;
    box-shadow: 0px 0px 5px -2px #000;
    margin: 10px; }
    .boxes .box .box__title {
      padding: 5px 0; }
      .boxes .box .box__title h3 {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
    .boxes .box .box__content {
      padding-top: 8px; }
      .boxes .box .box__content .box__list {
        padding-left: 43px;
        font-size: 14.1px;
        line-height: 19px; }
        .boxes .box .box__content .box__list .box__list-item {
          position: relative; }
        .boxes .box .box__content .box__list .box__list-item:before {
          content: '';
          background: #c7ae69;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          display: block;
          position: absolute;
          left: -15px;
          top: 1px;
          bottom: 0;
          margin: auto; }

@media only screen and (min-width: 62rem) {
  .boxes {
    display: flex;
    justify-content: space-between; }
    .boxes .box {
      padding: 20px;
      width: 281px;
      border-radius: 5px;
      min-height: 219px;
      box-shadow: 0px 0px 5px -2px #000;
      margin: 0;
      background: #fff; }
      .boxes .box .box__title {
        padding: 5px 0;
        color: #575756; }
        .boxes .box .box__title h3 {
          font-size: 28px;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center; }
      .boxes .box .box__content {
        padding-top: 8px; }
        .boxes .box .box__content .box__list {
          padding-left: 43px;
          font-size: 14.1px;
          line-height: 19px; }
          .boxes .box .box__content .box__list .box__list-item {
            position: relative; }
          .boxes .box .box__content .box__list .box__list-item:before {
            content: '';
            background: #c7ae69;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: block;
            position: absolute;
            left: -15px;
            top: 1px;
            bottom: 0;
            margin: auto; } }

.content h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 2px; }

.content p {
  font-size: 16.4px;
  margin-bottom: 14px;
  line-height: 23px; }

.btn, .btn--primary {
  border-radius: 5px;
  padding: 2px 58px;
  font-size: 25px;
  display: inline-block; }

.btn--primary {
  background: #c7ae69;
  color: #fff; }

.video {
  width: 304px;
  height: 144.4px;
  border-radius: 7px;
  position: relative;
  box-shadow: 0px 0px 5px -2px #000; }
  .video .video__play {
    position: absolute;
    background-image: url(../img/video-play.png);
    width: 50px;
    height: 50px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: contain; }

@media only screen and (min-width: 48rem) {
  .video {
    width: 560px;
    height: 266px;
    border-radius: 7px;
    position: relative;
    box-shadow: 0px 0px 5px -2px #000; }
    .video .video__play {
      position: absolute;
      background-image: url(../img/video-play.png);
      width: 85px;
      height: 85px;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: contain; } }

@media only screen and (min-width: 62rem) {
  .video {
    width: 800px;
    height: 380px;
    border-radius: 7px;
    position: relative;
    box-shadow: 0px 0px 5px -2px #000; }
    .video .video__play {
      position: absolute;
      background-image: url(../img/video-play.png);
      width: 110px;
      height: 110px;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: contain; } }

.quem-e-exchange {
  padding-top: 109px;
  padding-bottom: 73px;
  position: relative;
  background-image: url(../img/site-background-1.png);
  background-size: contain;
  background-position-y: center; }
  .quem-e-exchange .section__title {
    max-width: 440px;
    margin: 0 auto;
    margin-bottom: 20px; }
    .quem-e-exchange .section__title h2 {
      color: #c7ae69;
      font-size: 28px;
      text-align: center;
      text-transform: uppercase;
      line-height: 35px; }
  .quem-e-exchange .boxes {
    margin: 45px 0; }
  .quem-e-exchange .content {
    max-width: 690px;
    margin: 0 auto; }
  .quem-e-exchange .video {
    margin: 0 auto;
    margin-top: 64px; }

.quem-e-exchange:before {
  content: '';
  position: absolute;
  background: #000;
  width: 6px;
  height: 56px;
  display: block;
  top: 33px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 20px; }

@media only screen and (min-width: 62rem) {
  .quem-e-exchange .boxes .box {
    position: relative; }
  .quem-e-exchange .boxes .box:not(:first-child):before {
    content: '';
    display: block;
    background-image: url(../img/arrow-right-holdered.png);
    width: 60px;
    height: 60px;
    position: absolute;
    left: -42px;
    top: 0;
    background-size: contain;
    bottom: 0;
    margin: auto; }
  .quem-e-exchange .content {
    position: relative; }
  .quem-e-exchange .content:before {
    content: '';
    position: absolute;
    height: 590px;
    width: 440px;
    background-image: url(../img/jogador-de-basquete.png);
    left: -271px;
    top: -251px;
    background-size: contain;
    background-repeat: no-repeat; } }
