.message {
    padding-top: 150px;
    background-image: url(../img/site-background-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    .content {
        margin-bottom: 150px;
    }
}