
.page-ingles__main {
    position: relative;
    padding-top: 148px;
    padding-bottom: 148px;

    .video {
        margin: 0 auto;
    }
}

.page-ingles__main:before {
    content: '';
    position: absolute;
    background: #000;
    width: 6px;
    height: 56px;
    display: block;
    top: 16px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 20px;    
}
