.chess {
    height: 183px;
    background-image: url(../img/background-xadrez.png);
    background-size: cover;
    background-position: left center;  
}

@media only screen and (min-width: $mobile-up) {
    .chess {
        height: 423px;
    }    
}