.content-slide {
    .slide__inner {
        border-radius: 5px;
        width: 329px;
        height: 390px;
        box-shadow: 0px 0px 5px -2px $black;
        background: $white;
        
        .slide__arrows {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            height: 100%;
            align-items: center;

            .slide__arrow {
                background-color: transparent;
                border: none;
                background-size: cover;
                background-position: center;
                width: 10px;
                height: 14px;
            }
            
            .slide__arrow-left {
                background-image: url(../img/icon-arrow-left.png);
            }

            .slide__arrow-right {
                background-image: url(../img/icon-arrow-right.png);
            }
            
            .slide__content {
                
            }
        }
    }
}

.content-slide.size-2 {
    .slide__inner {
        width: 329px;
        height: 280px;
    }
}