.table {
    max-width: 800px;
    margin: 0 auto;
    table {
        width: 100%;
    } 

    tr {
        td {
            border: 1px solid $grey; 
            width: 50%;
            padding: 5px 20px;
        }
    }

    .table__row-title {
        padding-left: 30px;
        font-weight: 700;
        color: $primary;
    }
}