@import url("https://fonts.googleapis.com/css?family=Montserrat|Titillium+Web:300,400,500,600,700&display=swap");
/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", "Montserrat", sans-serif; }

div,
article,
span,
p,
a,
button {
  font-family: "Titillium Web", "Montserrat", sans-serif; }

.bg-primary {
  background-color: #c7ae69; }

.bg-primary-light {
  background-color: ""; }

.bg-primary-lighter {
  background-color: ""; }

.bg-primary-dark {
  background-color: ""; }

.bg-primary-darker {
  background-color: ""; }

.bg-secondary {
  background-color: ""; }

.bg-secondary-light {
  background-color: ""; }

.bg-secondary-lighter {
  background-color: ""; }

.bg-secondary-dark {
  background-color: ""; }

.bg-secondary-darker {
  background-color: ""; }

.bg-dark {
  background-color: ""; }

.bg-light {
  background-color: ""; }

.bg-black {
  background-color: #000; }

.bg-white {
  background-color: #fff; }

.bg-grey {
  background-color: #575756; }

.bg-grey-light {
  background-color: ""; }

.bg-grey-lighter {
  background-color: ""; }

.bg-grey-dark {
  background-color: ""; }

.bg-grey-darker {
  background-color: ""; }

.color-primary {
  color: #c7ae69; }

.color-primary-light {
  color: ""; }

.color-primary-lighter {
  color: ""; }

.color-primary-dark {
  color: ""; }

.color-primary-darker {
  color: ""; }

.color-secondary {
  color: ""; }

.color-secondary-light {
  color: ""; }

.color-secondary-lighter {
  color: ""; }

.color-secondary-dark {
  color: ""; }

.color-secondary-darker {
  color: ""; }

.color-dark {
  color: ""; }

.color-light {
  color: ""; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.color-grey {
  color: #575756; }

.color-grey-light {
  color: ""; }

.color-grey-lighter {
  color: ""; }

.color-grey-dark {
  color: ""; }

.color-grey-darker {
  color: ""; }

.font-primary {
  font-family: "Titillium Web", "Montserrat", sans-serif; }

.font-secondary {
  font-family: "Montserrat", sans-serif; }

.text-bolder {
  font-weight: bolder; }

.text-normal {
  font-weight: 400; }

.text-bold {
  font-weight: 700; }

.text-light {
  font-weight: 300; }

.text-uppercase {
  text-transform: uppercase; }

.text-centered {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.pos-relative {
  position: relative; }

.block {
  display: block; }

.container {
  padding: 0 2rem; }

@media only screen and (min-width: 48rem) {
  .container {
    width: 750px;
    margin: 0 auto; } }

@media only screen and (min-width: 62rem) {
  .container {
    width: 960px;
    margin: 0 auto; } }

.hero, .hero--header, .hero--cta {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .hero .hero__container, .hero--header .hero__container, .hero--cta .hero__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 260px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.hero--header .hero__title {
  text-align: center; }

.hero--cta {
  background: #c7ae69;
  padding: 44px 0; }
  .hero--cta .hero__content {
    font-size: 22px;
    line-height: 25px; }
    .hero--cta .hero__content p:first-child {
      font-size: 20px; }
  .hero--cta .hero__cta .btn, .hero--cta .hero__cta .btn--primary, .hero--cta .hero__cta .btn--primary-inverted {
    padding: 10px 28px;
    width: 260px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    margin-top: 20px; }

@media only screen and (min-width: 48rem) {
  .hero .hero__container, .hero--header .hero__container, .hero--cta .hero__container {
    width: 700px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .hero--cta .hero__content {
    font-size: 30px;
    line-height: 33px; }
    .hero--cta .hero__content p:first-child {
      font-size: 28px; }
  .hero--cta .hero__cta .btn, .hero--cta .hero__cta .btn--primary, .hero--cta .hero__cta .btn--primary-inverted {
    width: 290px;
    font-size: 27px;
    margin-top: unset; } }

@media only screen and (min-width: 62rem) {
  .hero .hero__container, .hero--header .hero__container, .hero--cta .hero__container {
    width: 794px; } }

.section .section__title {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 33px; }

.nav--mobile {
  padding: 1rem 0;
  max-height: 80px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-transition: max-height .3s;
  -o-transition: max-height .3s;
  transition: max-height .3s;
  z-index: 1; }
  .nav--mobile .nav__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav--mobile .nav__inner .nav__logo a {
      height: 50px;
      width: 90px;
      background-image: url(../img/logo.png);
      display: block;
      -webkit-background-size: 100% 100%;
              background-size: 100%;
      background-repeat: no-repeat; }
  .nav--mobile .nav__links {
    padding-top: 1rem; }
    .nav--mobile .nav__links li {
      padding: .5rem 0; }
      .nav--mobile .nav__links li a {
        font-family: "Titillium Web", "Montserrat", sans-serif;
        color: #000;
        text-decoration: none; }

.nav-toggler {
  background: transparent;
  border: 1px solid #c7ae69;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 37px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .nav-toggler .nav-toggler__bar {
    display: block;
    background: #c7ae69;
    width: 28px;
    height: 2px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }

.nav.active {
  max-height: 500px;
  -webkit-transition: max-height .3s;
  -o-transition: max-height .3s;
  transition: max-height .3s; }

.nav--tablet-up {
  display: none; }

@media only screen and (min-width: 48rem) {
  .nav--mobile {
    display: none; }
  .nav--tablet-up {
    display: block;
    height: 120px; }
    .nav--tablet-up .nav__inner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 116px; }
      .nav--tablet-up .nav__inner .nav__logo a {
        height: 54px;
        width: 95px;
        background-image: url(../img/logo.png);
        display: block;
        -webkit-background-size: cover;
                background-size: cover;
        background-repeat: no-repeat; }
      .nav--tablet-up .nav__inner .nav__links {
        width: 580px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .nav--tablet-up .nav__inner .nav__links li {
          padding: 0 6px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
             -moz-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          position: relative; }
          .nav--tablet-up .nav__inner .nav__links li a {
            font-family: "Titillium Web", "Montserrat", sans-serif;
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            text-align: center; }
          .nav--tablet-up .nav__inner .nav__links li a:hover {
            color: #c7ae69;
            -webkit-transition: color .2s;
            -o-transition: color .2s;
            transition: color .2s; }
        .nav--tablet-up .nav__inner .nav__links li.active:after {
          content: '';
          width: 100%;
          height: 2px;
          background: #c7ae69;
          position: absolute;
          bottom: -4px; } }

@media only screen and (min-width: 62rem) {
  .nav--tablet-up .nav__inner .nav__logo a {
    height: 74px;
    width: 129px; }
  .nav--tablet-up .nav__inner .nav__links {
    width: 680px; }
    .nav--tablet-up .nav__inner .nav__links li {
      padding: 0; }
      .nav--tablet-up .nav__inner .nav__links li a {
        font-size: 13px; } }

.site-header {
  background-image: url("../img/site-header-background-overlay.png"), url("../img/site-header-background.png");
  -webkit-background-size: cover, cover;
          background-size: cover, cover; }
  .site-header .site-header__inner .site-header__columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .site-header .site-header__inner .site-header__columns .site-header__content {
      width: 240px;
      padding-top: 130px;
      padding-bottom: 30px;
      margin: 0 auto; }
      .site-header .site-header__inner .site-header__columns .site-header__content .site-header__title {
        margin-bottom: 20px; }
        .site-header .site-header__inner .site-header__columns .site-header__content .site-header__title h1 {
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 32px;
          line-height: 45px;
          width: 277px; }
      .site-header .site-header__inner .site-header__columns .site-header__content .site-header__subtitle {
        width: 277px; }
        .site-header .site-header__inner .site-header__columns .site-header__content .site-header__subtitle p {
          color: #fff;
          font-weight: 300;
          line-height: 23px;
          font-size: 16px; }
      .site-header .site-header__inner .site-header__columns .site-header__content .site-header__cta {
        padding: 35px 0; }
    .site-header .site-header__inner .site-header__columns .site-header__image {
      display: none; }

.slide-control {
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 237px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .slide-control .slide-control__steps {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 35px;
    margin-right: 13px; }
    .slide-control .slide-control__steps span {
      font-size: 15px;
      color: #fff;
      font-weight: 300; }
  .slide-control .slide-control__loader {
    width: 164px; }
    .slide-control .slide-control__loader span {
      display: block;
      width: 96%;
      height: 1.5px;
      background: #c7ae69; }
  .slide-control .slide-control__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .slide-control .slide-control__right span {
      background-image: url(../img/header-slide-arrow-right.png);
      display: inline-block;
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }

@media only screen and (min-width: 48rem) {
  .site-header .site-header__inner .site-header__columns .site-header__content {
    width: 50%;
    padding-top: 40px; }
  .site-header .site-header__inner .site-header__columns .site-header__image {
    display: block;
    width: 50%;
    background-image: url(../img/menino-com-bola.png);
    -webkit-background-size: 266px 266px;
            background-size: 266px;
    background-repeat: no-repeat;
    background-position: bottom; } }

@media only screen and (min-width: 62rem) {
  .site-header .site-header__inner .site-header__columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .site-header .site-header__inner .site-header__columns .site-header__content {
      width: 55%;
      padding-top: 67px;
      padding-bottom: 0; }
      .site-header .site-header__inner .site-header__columns .site-header__content .site-header__title {
        margin-bottom: 20px; }
        .site-header .site-header__inner .site-header__columns .site-header__content .site-header__title h1 {
          font-size: 59px;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          line-height: 70px;
          width: auto; }
      .site-header .site-header__inner .site-header__columns .site-header__content .site-header__subtitle {
        width: auto; }
        .site-header .site-header__inner .site-header__columns .site-header__content .site-header__subtitle p {
          color: #fff;
          font-size: 19.4px;
          font-weight: 300;
          line-height: 23px; }
      .site-header .site-header__inner .site-header__columns .site-header__content .site-header__cta {
        padding: 35px 0; }
    .site-header .site-header__inner .site-header__columns .site-header__image {
      width: 45%;
      height: 467px;
      background-image: url(../img/menino-com-bola.png);
      -webkit-background-size: 326px 326px;
              background-size: 326px;
      background-repeat: no-repeat;
      background-position: 78px 21px; }
  .slide-control {
    padding: 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 237px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .slide-control .slide-control__steps {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 35px;
      margin-right: 13px; }
      .slide-control .slide-control__steps span {
        font-size: 15px;
        color: #fff;
        font-weight: 300; }
    .slide-control .slide-control__loader {
      width: 164px; }
      .slide-control .slide-control__loader span {
        display: block;
        width: 96%;
        height: 1.5px;
        background: #c7ae69; }
    .slide-control .slide-control__right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .slide-control .slide-control__right span {
        background-image: url(../img/header-slide-arrow-right.png);
        display: inline-block;
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
                background-size: contain; } }

.boxes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .boxes .box {
    width: 281px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    min-height: 219px;
    -webkit-box-shadow: 0px 0px 5px -2px #000;
            box-shadow: 0px 0px 5px -2px #000;
    margin: 10px;
    background: #fff; }
    .boxes .box .box__cover {
      -webkit-border-radius: 5px 5px 0 0;
              border-radius: 5px 5px 0 0;
      height: 126px;
      background: tomato; }
    .boxes .box .box__title {
      padding: 25px 0 18px 0; }
      .boxes .box .box__title h3 {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        line-height: 28px; }
    .boxes .box .box__content {
      padding: 0px 20px 0 25px;
      text-align: center;
      font-size: 13px;
      margin-bottom: 20px; }
      .boxes .box .box__content .box__list {
        padding-left: 43px;
        font-size: 14.1px;
        line-height: 19px;
        text-align: left; }
        .boxes .box .box__content .box__list .box__list-item {
          position: relative; }
        .boxes .box .box__content .box__list .box__list-item:before {
          content: '';
          background: #c7ae69;
          width: 8px;
          height: 8px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          display: block;
          position: absolute;
          left: -15px;
          top: 1px;
          bottom: 0;
          margin: auto; }
    .boxes .box .box__footer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 34px 0px; }
      .boxes .box .box__footer button {
        width: 201px;
        font-size: 21px;
        padding: 5px; }

@media only screen and (min-width: 62rem) {
  .boxes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .boxes .box {
      margin: 0; }
      .boxes .box .box__title {
        color: #575756; }
        .boxes .box .box__title h3 {
          font-size: 28px;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center; }
      .boxes .box .box__content .box__list {
        padding-left: 43px;
        font-size: 14.1px;
        line-height: 19px; }
        .boxes .box .box__content .box__list .box__list-item {
          position: relative; }
        .boxes .box .box__content .box__list .box__list-item:before {
          content: '';
          background: #c7ae69;
          width: 8px;
          height: 8px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          display: block;
          position: absolute;
          left: -15px;
          top: 1px;
          bottom: 0;
          margin: auto; } }

.content h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 2px; }

.content p {
  font-size: 16.4px;
  margin-bottom: 14px;
  line-height: 23px; }

.btn, .btn--primary, .btn--primary-inverted {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 2px 58px;
  font-size: 25px;
  display: inline-block;
  border: none;
  text-decoration: none; }

.btn--primary {
  background: #c7ae69;
  color: #fff; }

.btn--primary-inverted {
  color: #c7ae69;
  background: #fff; }

.video {
  width: 254px;
  height: 144.4px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px -2px #000;
          box-shadow: 0px 0px 5px -2px #000; }
  .video .video__play {
    position: absolute;
    background-image: url(../img/video-play.png);
    width: 50px;
    height: 50px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-background-size: contain;
            background-size: contain; }

@media only screen and (min-width: 48rem) {
  .video {
    width: 560px;
    height: 266px;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px -2px #000;
            box-shadow: 0px 0px 5px -2px #000; }
    .video .video__play {
      position: absolute;
      background-image: url(../img/video-play.png);
      width: 85px;
      height: 85px;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-background-size: contain;
              background-size: contain; } }

@media only screen and (min-width: 62rem) {
  .video {
    width: 800px;
    height: 380px;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px -2px #000;
            box-shadow: 0px 0px 5px -2px #000; }
    .video .video__play {
      position: absolute;
      background-image: url(../img/video-play.png);
      width: 110px;
      height: 110px;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-background-size: contain;
              background-size: contain; } }

.quem-e-exchange {
  padding-top: 109px;
  padding-bottom: 73px;
  position: relative;
  background-image: url(../img/site-background-1.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat; }
  .quem-e-exchange .section__title {
    max-width: 440px;
    margin: 0 auto;
    margin-bottom: 20px; }
    .quem-e-exchange .section__title h2 {
      color: #c7ae69;
      font-size: 28px;
      text-align: center;
      text-transform: uppercase;
      line-height: 35px; }
  .quem-e-exchange .boxes {
    margin: 45px 0; }
  .quem-e-exchange .content {
    max-width: 690px;
    margin: 0 auto; }
  .quem-e-exchange .video {
    margin: 0 auto;
    margin-top: 64px; }

.quem-e-exchange:before {
  content: '';
  position: absolute;
  background: #000;
  width: 6px;
  height: 56px;
  display: block;
  top: 33px;
  margin: 0 auto;
  left: 0;
  right: 0;
  -webkit-border-radius: 20px;
          border-radius: 20px; }

@media only screen and (min-width: 62rem) {
  .quem-e-exchange {
    -webkit-background-size: contain;
            background-size: contain; }
    .quem-e-exchange .boxes .box {
      position: relative; }
    .quem-e-exchange .boxes .box:not(:first-child):before {
      content: '';
      display: block;
      background-image: url(../img/arrow-right-holdered.png);
      width: 60px;
      height: 60px;
      position: absolute;
      left: -42px;
      top: 0;
      -webkit-background-size: contain;
              background-size: contain;
      bottom: 0;
      margin: auto; }
    .quem-e-exchange .content {
      position: relative; }
    .quem-e-exchange .content:before {
      content: '';
      position: absolute;
      height: 590px;
      width: 440px;
      background-image: url(../img/jogador-de-basquete.png);
      left: -271px;
      top: -251px;
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat; } }

.parceiros {
  padding: 86px 0 59px 0; }
  .parceiros .parceiros__list {
    max-width: 823px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 22px 0; }
    .parceiros .parceiros__list .parceiros__list-item {
      background: #c7ae69;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      width: 110px;
      height: 110px; }
  .parceiros .parceiros__slide-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 85px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .parceiros .parceiros__slide-dots .parceiros__slide-dot {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      height: 12px;
      width: 12px;
      background: #c7ae69;
      display: block; }

.conheca-programas-intercambio {
  padding-bottom: 119px;
  background-image: url(../img/site-background-2.png);
  -webkit-background-size: 1233px 1233px;
          background-size: 1233px;
  background-repeat: no-repeat;
  background-position: left -64px; }
  .conheca-programas-intercambio .section__title {
    padding: 65px 0 22px 0px;
    position: relative; }
  .conheca-programas-intercambio .boxes {
    margin-top: 20px; }
    .conheca-programas-intercambio .boxes .box .box__title {
      min-height: 93px;
      padding: 17px 0 6px 0; }

@media only screen and (min-width: 48rem) {
  .conheca-programas-intercambio .section__title:before {
    content: '';
    background-image: url(../img/capacete.png);
    width: 168px;
    height: 167px;
    display: block;
    position: absolute;
    top: -19px;
    right: -63px;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat; } }

.best-structure {
  margin-top: 90px;
  height: 781px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto; }
  .best-structure .best-structure__item {
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: tomato;
    border: 7px solid #c7ae69; }
  .best-structure .best-structure__item:after {
    content: '';
    width: 6px;
    height: 90px;
    background-color: #c7ae69;
    position: absolute;
    display: block; }
  .best-structure .best-structure__item.item-1:after {
    bottom: 0;
    left: 0;
    top: 108px;
    right: 0;
    margin: 0 auto; }
  .best-structure .best-structure__item.item-1 {
    top: 0;
    left: 0; }
  .best-structure .best-structure__item.item-2:after {
    bottom: 0;
    left: 0;
    top: 108px;
    right: 0;
    margin: 0 auto; }
  .best-structure .best-structure__item.item-2 {
    top: 0;
    right: 0; }
  .best-structure .best-structure__item.item-3:after {
    left: 0;
    bottom: 108px;
    right: 0;
    margin: auto; }
  .best-structure .best-structure__item.item-3 {
    bottom: 0;
    left: 0; }
  .best-structure .best-structure__item.item-4:after {
    left: 0;
    bottom: 108px;
    right: 0;
    margin: auto; }
  .best-structure .best-structure__item.item-4 {
    bottom: 0;
    right: 0; }
  .best-structure .best-structure__main {
    position: relative;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: #c7ae69;
    width: 412px;
    height: 412px;
    padding: 20px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .best-structure .best-structure__main .best-structure__title h3 {
      max-width: 235px;
      text-transform: uppercase; }
      .best-structure .best-structure__main .best-structure__title h3 .size-2 {
        font-size: 19px;
        margin-bottom: -4px; }
      .best-structure .best-structure__main .best-structure__title h3 .size-1 {
        font-size: 29px;
        font-weight: 700;
        line-height: 27px;
        margin-top: 2px;
        display: block; }
    .best-structure .best-structure__main .best-structure__content {
      color: #fff;
      font-size: 14px;
      padding: 21px 0;
      max-width: 372px; }
    .best-structure .best-structure__main .best-structure__cta a {
      width: 178px;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 700;
      height: 39px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0; }

@media only screen and (min-width: 48rem) {
  .best-structure {
    margin-top: 120px;
    max-width: 100%; }
    .best-structure .best-structure__item {
      width: 190px;
      height: 190px; }
    .best-structure .best-structure__item.item-1:after {
      -webkit-transform: rotate(-42deg);
          -ms-transform: rotate(-42deg);
           -o-transform: rotate(-42deg);
              transform: rotate(-42deg);
      bottom: 0;
      right: -7px;
      top: 148px;
      margin: initial;
      left: auto; }
    .best-structure .best-structure__item.item-1 {
      top: 0;
      left: 0; }
    .best-structure .best-structure__item.item-2:after {
      -webkit-transform: rotate(42deg);
          -ms-transform: rotate(42deg);
           -o-transform: rotate(42deg);
              transform: rotate(42deg);
      bottom: 0;
      left: -7px;
      top: 148px;
      right: auto;
      margin: initial; }
    .best-structure .best-structure__item.item-2 {
      top: 0;
      right: 0; }
    .best-structure .best-structure__item.item-3:after {
      -webkit-transform: rotate(42deg);
          -ms-transform: rotate(42deg);
           -o-transform: rotate(42deg);
              transform: rotate(42deg);
      right: -2px;
      left: auto;
      bottom: 148px;
      margin: initial; }
    .best-structure .best-structure__item.item-3 {
      bottom: 0;
      left: 0; }
    .best-structure .best-structure__item.item-4:after {
      -webkit-transform: rotate(-42deg);
          -ms-transform: rotate(-42deg);
           -o-transform: rotate(-42deg);
              transform: rotate(-42deg);
      left: -7px;
      bottom: 148px;
      right: auto;
      margin: initial; }
    .best-structure .best-structure__item.item-4 {
      bottom: 0;
      right: 0; }
    .best-structure .best-structure__main:before {
      content: '';
      width: 117%;
      height: 117%;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -240px;
      margin-top: -240px;
      background-image: url(../img/border-dashed.png);
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat; }
    .best-structure .best-structure__main:after {
      content: '';
      background-image: url(../img/border-solid.png);
      width: 135%;
      height: 135%;
      position: absolute;
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat;
      left: 50%;
      top: 50%;
      margin-left: -280px;
      margin-top: -280px; }
    .best-structure .best-structure__main {
      -webkit-border-radius: 50%;
              border-radius: 50%; } }

@media only screen and (min-width: 62rem) {
  .best-structure {
    height: 591px; }
    .best-structure .best-structure__item:after {
      content: '';
      height: 160px; }
    .best-structure .best-structure__item.item-1:after {
      -webkit-transform: rotate(-51deg);
          -ms-transform: rotate(-51deg);
           -o-transform: rotate(-51deg);
              transform: rotate(-51deg);
      bottom: 0;
      right: -47px;
      top: 111px; }
    .best-structure .best-structure__item.item-2:after {
      -webkit-transform: rotate(51deg);
          -ms-transform: rotate(51deg);
           -o-transform: rotate(51deg);
              transform: rotate(51deg);
      bottom: 0;
      left: -47px;
      top: 111px; }
    .best-structure .best-structure__item.item-3:after {
      -webkit-transform: rotate(51deg);
          -ms-transform: rotate(51deg);
           -o-transform: rotate(51deg);
              transform: rotate(51deg);
      bottom: 111px;
      right: -47px; }
    .best-structure .best-structure__item.item-4:after {
      -webkit-transform: rotate(-51deg);
          -ms-transform: rotate(-51deg);
           -o-transform: rotate(-51deg);
              transform: rotate(-51deg);
      bottom: 111px;
      left: -47px; } }

/*# sourceMappingURL=main.css.map */
