.btn {
    border-radius: 5px;
    padding: 2px 58px;
    font-size: 25px;
    display: inline-block;
    border: none;
    text-decoration: none;
}

.btn--primary {
    @extend .btn;
    background: $primary;
    color: $white;
}

.btn--primary-outlined {

}

.btn--primary-inverted {
    @extend .btn;
    color: $primary;
    background: $white;
}