.btn {
    border-radius: 5px;
    padding: 2px 33px;
    font-size: 22px;
    display: inline-block;
    border: none;
    text-decoration: none;
}

@media only screen and (min-width: $mobile-up) {
    .btn {
        border-radius: 5px;
        padding: 2px 48px;
        font-size: 25px;
        display: inline-block;
        border: none;
        text-decoration: none;
    }
}

.btn--primary {
    @extend .btn;
    background: $primary;
    color: $white;
}

.btn--primary-outlined {

}

.btn--primary-inverted {
    @extend .btn;
    color: $primary;
    background: $white;
}