.content {
    h2 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 2px;
    }   
    
    h3 {
        
    }
    
    p {
        font-size: 16.4px;
        margin-bottom: 14px;
        line-height: 23px;
    }
}