
.icon {
    display: inline-block;
}
.icon-facebook-logo {
    background-image: url(../img/facebook-logo.png);
    width: 13px;
    height: 28px;
}
.icon-instagram-logo {
    background-image: url(../img/instagram-logo.png);
    width: 28px;
    height: 28px;
}
.icon-whatsapp-logo {
    background-image: url(../img/whatsapp-logo.png);
    width: 28px;
    height: 28px;
}
.icon-youtube-logo {
    background-image: url(../img/youtube-logo.png);
    width: 28px;
    height: 21px;
}
