.futebol-high-school {

    .content__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .content__item {
            border: 1px solid $primary;
            border-radius: 10px;
            padding: 15px;
            margin: 10px;
            width: 180px;
            height: 180px;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}

@media only screen and (min-width: $desktop-up) {
    .futebol-high-school {
        
        .content__items {
            justify-content: space-between;

            .content__item {
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
}