.content {
    .content__items {
        .content__item {
            .content__item-header {

            }
            .content__item-footer {

            }
        }
    }
}

.intercambio-esportivo {
    padding-top: 40px;

    .content__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .content__item {
            border: 1px solid $primary;
            border-radius: 10px;
            padding: 15px;
            margin: 10px;
            width: 101px;
            background-color: $white-transparent;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;        

            .content__item-header {
                height: 100px;
                width: 100%;
                margin-bottom: 10px;
            }
            .content__item-footer {
                line-height: 16px;
                font-size: 14px;
                margin-top: auto;
            }
        }
    }
}

@media only screen and (min-width: $desktop-up) {
    .intercambio-esportivo {
    
        .content__items {
            justify-content: space-between;

            .content__item {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}